.b{
    text-align: center;
    color: blueviolet;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

.ba{
    text-align: center;
}

.design1{
    color: brown;
    text-align: center;
    font-size: 30px;
}
.design2{
    color: red;
    text-align: center;
    font-size: 30px;
}

.design3{
    color: blue;
    text-align: center;
    font-size: 30px;
}

.design4{
    color: yellow;
    text-align: center;
    font-size: 30px;
}
.design5{
    color: green;
    text-align: center;
    font-size: 30px;
}
.design6{
    color: pink;
    text-align: center;
    font-size: 30px;
}
.design7{
    color: gray;
    text-align: center;
    font-size: 30px;
}
.design8{
    color: purple;
    text-align: center;
    font-size: 30px;
}
.design9{
    color: orange;
    text-align: center;
    font-size: 30px;
}
.design10{
    color: goldenrod;
    text-align: center;
    font-size: 30px;
}
.design11{
    color: indigo;
    text-align: center;
    font-size: 30px;
}
.design12{
    color: red;
    text-align: center;
    font-size: 30px;
}
.design13{
    color: pink;
    text-align: center;
    font-size: 30px;
}
.design14{
    color: darkmagenta;
    text-align: center;
    font-size: 30px;
}
.design15{
    color: black;
    text-align: center;
    font-size: 30px;
}
.design16{
    color: orange;
    text-align: center;
    font-size: 30px;
}
.design17{
    color: red;
    text-align: center;
    font-size: 30px;
}
.design18{
    color: darkred;
    text-align: center;
    font-size: 30px;
}
.design19{
    color: darkkhaki;
    text-align: center;
    font-size: 30px;
}

.card-text1{
    display: none;
}
.card-text2{
    display: none;
}
.card-text3{
    display: none;
}
.card-text4{
    display: none;
}
.card-text5{
    display: none;
}
.card-text6{
    display: none;
}
.card-text7{
    display: none;
}
.card-text8{
    display: none;
}
.card-text9{
    display: none;
}
.card-text10{
    display: none;
}
.card-text11{
    display: none;
}
.card-text12{
    display: none;
}
.card-text13{
    display: none;
}
.card-text14{
    display: none;
}
.card-text15{
    display: none;
}
.card-text16{
    display: none;
}
.card-text17{
    display: none;
}
.card-text18{
    display: none;
}
.card-text19{
    display: none;
}